@import "tailwindcss";

.ant-card .ant-card-body{
    padding: 5px;
}

/* ✅ Square corners */
.custom-select .ant-select-selector {
  border-radius: 0 !important;
  display: flex !important;
  align-items: left !important; /* keep text aligned */
  padding: 0 11px !important; /* same as Input padding */
}

/* ✅ Text alignment fix */
.custom-select .ant-select-selection-item,
.custom-select .ant-select-selection-placeholder {
  line-height: 38px !important; /* slightly less than height */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ant-segmented .ant-segmented-item-label{
  padding: 10px;
  width: 90px;
}

.ant-segmented-item-selected {
    background-color: #2563eb !important; /* Blue */
    color: white !important;
    font-weight: 600;
  }

.ant-segmented-item {
    color: #2563eb; /* default text color */
  }

 .ant-segmented-item:hover {
    color: #2563eb !important;
  }


