/* Target slick dots only inside PropertyDetails */
.property-slider  {
  position: absolute;
  bottom: 20px;   /* move inside image */
  left: 50%;
  transform: translateX(-50%);
}

.property-slider .slick-dots li button:before {
  font-size: 12px;
  color: white;   /* default color */
  opacity: 0.7;
}

.property-slider .slick-dots li.slick-active button:before {
  color: #3b82f6; /* Tailwind blue-500 */
  opacity: 1;
}
